{% extends 'gwc/base.html'%}

{% block content %}

<div class="py-5 px-5">

    <h1>Word Count</h1>

    <form action="{% url 'result' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="fulltext" class="form-label">Enter your text below</label>
            <textarea class="form-control" id="fulltext" name="fulltext" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>


{% endblock %}