{% extends 'gwc/base.html'%}
{% load static %}

{% block content %}

<div class="card-group">
   <div class="card" style="width: 18rem;">
     <img src="{% static 'images/gwc.jpg' %}" class="card-img-top" alt="Picture of a dog">
     <div class="card-body">
       <h5 class="card-title">Girls who Code Program</h5>
       <p class="card-text">A 10-week program to lern the basics of code and how to learn step by step</p>
       <a class="btn btn-primary btn-lg" href={% url 'home' %}>Home</a>
     </div>
   </div>
   <div class="card" style="width: 18rem;">
     <img src="{% static 'images/college loops.png' %}" class="card-img-top" alt="College Loops">
     <div class="card-body">
       <h5 class="card-title">College Loops</h5>
       <p class="card-text">This event is for college-aged women who are interested i tech to support one another. This event has weekly meetings.</p>
       <a class="btn btn-primary btn-lg"  href="https://girlswhocode.com/programs/summer-immersion-program">Visit this site</a>
     </div>
   </div>
   <div class="card" style="width: 18rem;">
     <img src="{% static 'images/summer programs.jpg' %}" class="card-img-top" alt="gwc summer program">
     <div class="card-body">
       <h5 class="card-title">Summer Program</h5>
       <p class="card-text">A 2-week summer program that teaches kids computer science skills that will make an impact in their community while preparing for a career in tech.  </p>
       <a class="btn btn-primary btn-lg" href="https://girlswhocode.com/programs/college-loops">Visit this site</a>
     </div>
   </div>
</div>
<div class="card-group">
   <div class="card" style="width: 18rem;">
     <img src="{% static 'images/Bootcamp.jpg' %}" class="card-img-top" alt="Coding Boot camp">
     <div class="card-body">
       <h5 class="card-title">Coding Boot camp</h5>
       <p class="card-text">A 26-week training program where you learn in-demand web development skills and more career knowledge.  </p>
       <a class="btn btn-primary btn-lg" href="https://bootcamp.ce.csueastbay.edu/coding">Visit this site</a>
     </div>
   </div>
   <div class="card" style="width: 18rem;">
     <img src="{% static 'images/python.png' %}" class="card-img-top" alt="gwc summer program">
     <div class="card-body">
       <h5 class="card-title">Python Summer Camp</h5>
       <p class="card-text">"Virtual" Python for Beginners Summer Camp Mon, Jun 7, 9 AM – Fri Jun 11</p>
       <a class="btn btn-primary btn-lg" href="https://www.activekids.com/livermore-ca/computers/camp/virtual-python-for-beginners-summer-camp-am-2021">Visit this site</a>
     </div>
   </div>
   <div class="card" style="width: 18rem;">
     <img src="{% static 'images/python.jpg' %}" class="card-img-top" alt="gwc summer program">
     <div class="card-body">
       <h5 class="card-title">CoderDojo- Python (For grades 5 through 10)</h5>
       <p class="card-text">Do you want to learn how to code and have no idea where to start? Are you in grades 5 through 10? Join our CoderDojo to learn a variety of different coding languages! This time, we'll be learning Python.</p>
       <a class="btn btn-primary btn-lg" href="https://www.sclibrary.org/Home/Components/Calendar/Event/77588/7953">Visit this site</a>
     </div>
   </div>
</div>

{% endblock %}