{% extends 'gwc/base.html'%}

{% block content %}
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://dppl.org/assets/images/resized/57e293eb07764481/gwc_banner_725_254_86.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://us.pycon.org/2015/site_media/media/images/2015/01/14/django-girls.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://resources.finalsite.net/images/f_auto,q_auto/v1614193127/tracyk12caus/ozoykbug3bz8welbtufc/KHSStaffBitmoji_1.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="text-center py-5 px-3">
        <h1 class="display-1">Kimball High School</h1>
        <h1 class="display-4">Girls Who Code 2021</h1>
        <br>

        <p class="lead">Lorem ipsum dolor sit amet. Nulla porttitor est eget vehicula consequat. Nulla sagittis nisl aliquet est blandit auctor. Aliquam hendrerit massa id ipsum porta feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In auctor faucibus pharetra. Sed ut purus euismod, mollis nisl vitae, dignissim leo.</p>
        <p>Ut sed tincidunt quam. Nulla porttitor est eget vehicula consequat. Nulla sagittis nisl aliquet est blandit auctor. Aliquam hendrerit massa id ipsum porta feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In auctor faucibus pharetra. Sed ut purus euismod, mollis nisl vitae, dignissim leo.</p>
    </div>

    <br><br><br><br>
{% endblock %}
