{% extends 'gwc/base.html'%}
{% load static %}

{% block content %}


<a type= "button" class="btn btn-light"  href="#scholarships" role = "button">Scholarships</a>
<a types="button" class="btn btn-light"  href="#internships"  role = "button">Internships </a>
<a types="button" class="btn btn-light"  href="#careers"      role = "button">Careers </a>
<a types="button" class="btn btn-light"  href="#wcs"          role = "button">Women in Computer Science</a>
<a types="button" class="btn btn-light"  href="#python"       role = "button">Learn Python</a>
<a types="button" class="btn btn-light"  href="#java"         role = "button">Learn Java</a>
<a types="button" class="btn btn-light"  href="#javascript"   role = "button">Learn Javascript</a>

<br></br>
<br></br>
<br></br>
<br></br>



<h4 <a id="scholarships"></a>Scholarships</h5>

<div class="container">
<table class="table table-hover">
    <thead class="thead-dark">
     <tr>
      <th scope="col">Website </th>
      <th scope="col">Amount</th>
      <th scope="col">Deadline</th>
      <th scope="col">Link</th>


    </tr>
  </thead>
  <tbody>
      <tr class='table-row'>
      <th scope="row" >Engineered Girl</th>
      <td>Varied</td>
      <td>Varied</td>
      <td> <a href="https://www.engineergirl.org/9539/Scholarships#:~:text=The%20Snapology%20STEM%20Studies%20Scholarship,%241%2C000%20scholarship%20per%20academic%20year.">Link</a></td>

    </tr>
    <tr class='table-row'>
      <th scope="row" >Bold</th>
      <td>Varied</td>
      <td>July 2021</td>
      <td> <a href="https://bold.org/scholarships/coding-for-minorities-scholarship/#ref=exclusive-scholarships">Link</a></td>

    </tr>
    <tr class="table-row">
      <th scope="row">Scholarships360</th>
      <td>$500</td>
      <td>Varied</td>
      <td> <a href="https://www.scholarships.com/financial-aid/college-scholarships/scholarship-directory/academic-major/computer-science'">Link</a></td>

    </tr>
    <tr class="table-row">
      <th scope="row">Snapology</th>
      <td>$1,000</td>
      <td>May 2021</td>
      <td> <a href="https://www.snapology.com/scholarships">Link</a></td>

    </tr>
    <tr class="table-row">
      <th scope="row">BHW Scholarship</th>
      <td>$3,000</td>
      <td>May 2021</td>
      <td> <a href="https://thebhwgroup.com/scholarship">Link</a></td>

    </tr>
    <tr class="table-row">
      <th scope="row">ACS Scholars Program</th>
      <td>$5,000</td>
      <td>April 2021</td>
      <td> <a href="https://www.acs.org/content/acs/en/funding-and-awards/scholarships/acsscholars.html">Link</a></td>

    </tr>
    <tr class="table-row">
      <th scope="row">Women at Microspft</th>
      <td>$5,000</td>
      <td>March 2021</td>
      <td> <a href="https://seattlefoundation.smapply.org/prog/women_at_microsoft_scholarship/">Link</a></td>

    </tr>
  </tbody>
</table>

</div>
</table>

<br></br>
<br></br>
<br></br>
<br></br>

<h4 <a id="internships"></a>Internships</h5>

<div class="container">
<table class="table table-hover">
    <thead class="thead-dark">
     <tr>
      <th scope="col">Company </th>
      <th scope="col">Deadline</th>
      <th scope="col">Link</th>


    </tr>
  </thead>
  <tbody>

    <tr class="table-row">
      <th scope="row">AFRL</th>
      <td>Unknown</td>
      <td> <a href="https://afrlscholars.usra.edu/">Link</a></td>
     </tr>
       <tr class='table-row'>
      <th scope="row" >LLNL Internally Sponsored</th>
      <td>Unknown</td>
      <td> <a href="https://st.llnl.gov/opportunities/student-internships/internally-sponsored-internships">Link</a></td>

    </tr>
       <tr class='table-row'>
      <th scope="row" >LLNL Externally Sponsored</th>
      <td>Unknown</td>
      <td> <a href="https://st.llnl.gov/opportunities/student-internships/externally-sponsored-internships">Link</a></td>

    </tr>
       <tr class='table-row'>
      <th scope="row" >LLNL Computing</th>
      <td>Unknown</td>
      <td> <a href="https://computing.llnl.gov/careers/interns">Link</a></td>

    </tr>

  </tbody>
</table>

</div>


<br></br>
<br></br>
<br></br>
<br></br>


<h4 <a id="careers"></a>Careers</h5>

<div class="container">
<table class="table table-hover">
    <thead class="thead-dark">
     <tr>
      <th scope="col">Company </th>
      <th scope="col">Link</th>


    </tr>
  </thead>
  <tbody>

    <tr class='table-row'>
      <th scope="row" >LLNL Students</th>
      <td> <a href="https://www.llnl.gov/join-our-team/careers/students">Link</a></td>

    </tr>
    <tr class="table-row">
      <th scope="row">UC Berkeley</th>
      <td> <a href="https://career.berkeley.edu/Tools/Sites/EngineeringComputer">Link</a></td>
     </tr>

  </tbody>
</table>

</div>

<br></br>
<br></br>
<br></br>
<br></br>


<h4 <a id="wcs"></a>Women in Computer Science</h5>
<div class="container">
<table class="table table-hover">
    <thead class="thead-dark">
     <tr>
      <th scope="col">Company </th>
      <th scope="col">Link</th>


    </tr>
  </thead>
  <tbody>
      <tr class='table-row'>
      <th scope="row" >Girls Who Code</th>
      <td> <a href="https://girlswhocode.com/">Link</a></td>

    </tr>
    <tr class='table-row'>
      <th scope="row" >Women in Technology</th>
      <td> <a href="https://www.womenintechnology.org/">Link</a></td>

    </tr>
    <tr class='table-row'>
      <th scope="row" >Anita B</th>
      <td> <a href="https://ghc.anitab.org/">Link</a></td>

    </tr>
    <tr class="table-row">
      <th scope="row">Standford Women in Computer Science</th>
      <td> <a href="http://web.stanford.edu/group/wics/#involved">Link</a></td>
     </tr>
     <tr class="table-row">
      <th scope="row">Stem for HER</th>
      <td> <a href="https://www.stemforher.org/">Link</a></td>
     </tr>

  </tbody>
</table>

</div>


<br></br>
<br></br>
<br></br>
<br></br>
<h4 <a id="python"></a>Learn Python</h5>

<div class="container">
<table class="table table-hover">
    <thead class="thead-dark">
     <tr>
      <th scope="col">Website </th>
      <th scope="col">Link</th>


    </tr>
  </thead>
  <tbody>

    <tr class='table-row'>
      <th scope="row" >Learn Python</th>
      <td> <a href="https://www.learnpython.org/">Link</a></td>
    </tr>
    <tr class='table-row'>
      <th scope="row" >Codecademy</th>
      <td> <a href="https://www.codecademy.com/learn/learn-python">Link</a></td>
    </tr>
    <tr class="table-row">
      <th scope="row">Python</th>
      <td> <a href="https://www.python.org/about/gettingstarted/">Link</a></td>
     </tr>
    <tr class="table-row">
      <th scope="row">W 3 Schools</th>
      <td> <a href="https://www.w3schools.com/python/">Link</a></td>
     </tr>
    <tr class="table-row">
      <th scope="row">RayWenderlich</th>
      <td> <a href="https://www.raywenderlich.com/2379-programming-for-teens-beginning-python-tutorial">Link</a></td>
     </tr>

  </tbody>
</table>

</div>
<br></br>
<br></br>
<br></br>
<br></br>
<h4 <a id="java"></a>Learn Java</h5>

<div class="container">
<table class="table table-hover">
    <thead class="thead-dark">
     <tr>
      <th scope="col">Website </th>
      <th scope="col">Link</th>


    </tr>
  </thead>
  <tbody>

    <tr class='table-row'>
      <th scope="row" >Learn Java</th>
      <td> <a href="https://www.learnjavaonline.org/">Link</a></td>
    </tr>
    <tr class='table-row'>
      <th scope="row" >Codecademy</th>
      <td> <a href="https://www.codecademy.com/learn/learn-java">Link</a></td>
    </tr>
    <tr class="table-row">
      <th scope="row">TutorialsPoint</th>
      <td> <a href="https://www.tutorialspoint.com/java/index.htm">Link</a></td>
     </tr>
    <tr class="table-row">
      <th scope="row">Ed X</th>
      <td> <a href="https://www.edx.org/course/ap-computer-science-a-java-programming">Link</a></td>
     </tr>
    <tr class="table-row">
      <th scope="row">Edhesive</th>
      <td> <a href="https://edhesive.com/courses/apcs_java">Link</a></td>
     </tr>
     <tr class="table-row">
      <th scope="row">Khan Academy</th>
      <td> <a href="https://www.khanacademy.org/computing/ap-computer-science-principles">Link</a></td>
     </tr>
     <tr class="table-row">
      <th scope="row">Albert</th>
      <td> <a href="https://www.albert.io/blog/one-month-ap-computer-science-study-guide/">Link</a></td>
     </tr>
  </tbody>
</table>

</div>
<br></br>
<br></br>
<br></br>
<br></br>
<h4 <a id="javascript"></a>Learn Javascript</h5>

<div class="container">
<table class="table table-hover">
    <thead class="thead-dark">
     <tr>
      <th scope="col">Website </th>
      <th scope="col">Link</th>


    </tr>
  </thead>
  <tbody>


    <tr class='table-row'>
      <th scope="row" >Codecademy</th>
      <td> <a href="https://www.codecademy.com/learn/introduction-to-javascript">Link</a></td>
    </tr>
    <tr class="table-row">
      <th scope="row">Learn Javascript</th>
      <td> <a href="https://learnjavascript.online/">Link</a></td>
     </tr>
    <tr class="table-row">
      <th scope="row">Learn JS</th>
      <td> <a href="https://www.learn-js.org/">Link</a></td>
     </tr>
    <tr class="table-row">
      <th scope="row">Modern Javascript Tutorial</th>
      <td> <a href="https://javascript.info/">Link</a></td>
     </tr>
     <tr class="table-row">
      <th scope="row">W3 Schools</th>
      <td> <a href="https://javascript.info/">Link</a></td>
     </tr>
  </tbody>
</table>

</div>
<br></br>
<br></br>
<br></br>
<br></br><br></br>
<br></br>
<br></br>
<br></br><br></br>
<br></br>
<br></br>
<br></br>
{% endblock %}